name: Docker Build and Push

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8  # 使用您项目中使用的 pnpm 版本

      - name: Display structure of build context
        run: |
          echo "Build context contents:"
          ls -R
          echo "Content of package.json:"
          cat package.json
          echo "Content of pnpm-lock.yaml:"
          cat pnpm-lock.yaml

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Alibaba Cloud Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.ALIYUN_REGISTRY }}
          username: ${{ secrets.ALIYUN_USERNAME }}
          password: ${{ secrets.ALIYUN_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.ALIYUN_REGISTRY }}/${{ secrets.ALIYUN_REPOSITORY }}:latest
          platforms: linux/amd64

      - name: Logout from Registry
        run: docker logout ${{ secrets.ALIYUN_REGISTRY }}
